<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content edge-drag-threshold="true"
                         drag-content="true">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable" nav-clear menu-close ng-click="gotoStart()">
      <img style="width: 100%; height: 100%" src="img/logo.png" >
      <!--<h1 class="title">Меню</h1>-->
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/services">
          УСЛУГИ
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/prices">
          ТАРИФЫ
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/contacts">
          КОНТАКТЫ
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/feedback">
          ОСТАВИТЬ ОТЗЫВ
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/telnumber">
          НОМЕР ДЛЯ ЗАКАЗА ТАКСИ:<br>
          +7928-737-77-77
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
