<div class="ion-autocomplete-container modal">
  <div class="bar bar-header item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" class="ion-autocomplete-search" ng-model="searchQuery" placeholder="{{placeholder}}"/>
    </label>
    <span class="icon ion-ios-location padding" ng-click="createItem()"></span>
    <button class="ion-autocomplete-cancel button button-clear">{{cancelLabel}}</button>
    </div>
    <ion-content class="has-header has-header">
      <ion-list>
        <ion-item collection-repeat="item in items" item-height="55" item-width="100%" type="item-text-wrap" ng-click="selectItem(item)">
          {{getItemValue(item, itemViewValueKey)}}
          {{getItemValue(item, 'GeoObject.description')}}
        </ion-item>
      </ion-list>
    </ion-content>
  </div>